.infoBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2979FF;
    border-radius: 4px 4px 0px 0px;
    height: 60px;
    width: 100%;
}

.leftInnerContainer{
    display: flex;
    flex: 0.5;
    align-items: center;
    margin-left: 5%;
    color: white;   
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.onlineIcon {
    margin-right: 5%;
}